<% content_for(:template_name, "success") %>
<%= form_with url: success_steps_path, method: :put, local: true do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <div class="form-card__header">
      <div class="emoji emoji--bigger spacing-below-25 emoji--star"></div>
      <h2 class="form-card__title">
        <%= t("success.header") %>
      </h2>
    </div>
    <div class="form-card__content text--centered">
      <div class="grid grid--how">
        <div class="grid__item">
          <p class="text--left"><%= t("success.write_down_your_html") %></p>
          <div class="notice"><%= current_household.confirmation_code %></div>
          <p class="text--left"><%= t("success.if_approved") %></p>
          <p class="text--left"><%= t("success.learn_more_html") %></p>
          <h3 class="text--left"><%= t("success.if_approved") %></h3>
          <p class="text--left"><%= t("success.if_approved_answer_1_html") %></p>
          <p class="text--left"><%= t("success.if_approved_answer_2_html") %></p>
        </div>
        <% if current_household.unfilled_application_experience? %>
          <div class="grid__item">
            <h3 class="text--left"><%= t("success.how_was_your_experience") %></h3>
              <%= f.cfa_single_tap_button(
                      :application_experience,
                      raw("<i class=\"emoji emoji-size-35 emoji--grinning-face\"></i><span class=\"sr-only\">Good</span>"),
                      :good,
                      classes: ["button--small"]
                  ) %>
              <%= f.cfa_single_tap_button(
                      :application_experience,
                      raw("<i class=\"emoji emoji-size-35 emoji--neutral-face\"></i><span class=\"sr-only\">Okay</span>"),
                      :ok,
                      classes: ["button--small"]
                  ) %>
              <%= f.cfa_single_tap_button(
                      :application_experience,
                      raw("<i class=\"emoji emoji-size-35 emoji--frowning-face\"></i><span class=\"sr-only\">Bad</span>"),
                      :bad,
                      classes: ["button--small"]
                  ) %>
          </div>
        <% end  %>
        <% if flash[:notice].present? %>
          <div class="notice">
            <p><%= flash[:notice] %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>