<% content_for(:template_name, "card") %>
<%= form_with url: children_steps_path, method: :put, local: true do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <div class="form-card__header spacing-below-15">
      <div class="emoji emoji--bigger spacing-below-25 spacing-below-25 emoji--bust"></div>
      <h2 class="form-card__title">Tell us about your child.</h2>
    </div>
    <div class="form-card__content">
      <div class="grid">
        <div class="grid__item">
          <p class="text with-padding-small text--left">One at a time, add all children in elementary, middle, and high
            school.</p>
          <% if current_household.children.present? %>
            <div class="notice">
              <% current_household.children.each do |child| %>
                <p>
                  <i class="emoji emoji--checkmark"></i>
                  <%= child.first_name + " " + child.last_name %>
                  <%= link_to "(remove)", remove_child_path(id: child.id), method: :delete %>
                </p>
              <% end %>
            </div>
          <% end %>
          <% if flash[:notice].present? %>
            <div class="notice--warning">
              <p><%= flash[:notice] %></p>
            </div>
          <% end  %>
        </div>
      </div>
      <div class="grid">
        <div class="grid__item text--left">
          <%= f.cfa_input_field(:first_name, "First name", help_text: "Legally as it appears on school records.") %>
          <%= f.cfa_input_field(:last_name, "Last name", help_text: "Legally as it appears on school records.") %>
          <%= f.cfa_date_select(
                  :dob,
                  'What is their date of birth?',
                  options: {
                      start_year: Time.now.year,
                      end_year: Time.now.year - 30,
                  }
              ) %>
          <%= f.cfa_single_tap_button(:add_child, "Add another child", true) %>
        </div>
      </div>
      <div class="form-card__footer">
        <%= f.button "Continue", class: "button button--primary" %>
      </div>
  <% end %>
<% end %>