<% content_for(:template_name, "card") %>
<%= form_with url: eligible_steps_path, method: :put, local: true do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <%= f.hidden_field(:language, value: I18n.locale) %>
    <div class="form-card__header spacing-below-35">
      <div class="emoji emoji--bigger emoji--backpack spacing-below-35"></div>
      <h2 class="form-card__title">
        <%= t("eligible.header") %>
      </h2>
    </div>
    <div class="form-card__content">
      <div class="grid">
        <div class="grid__item">
          <p class="with-padding-small text--left"><%= t("eligible.even_if_the_student") %></p>
          <p class="with-padding-small text--left"><%= t("eligible.if_the_student") %></p>
        </div>
      </div>
      <div class="grid">
        <div class="grid__item text--left spacing-above-60 spacing-below-60">
          <%= f.cfa_radio_set(
                  :is_eligible,
                  collection: [
                      {value: :yes, label: t("shared.yes")},
                      {value: :no, label: t("shared.no")},
                      {value: :dont_know, label: t("shared.i_dont_know")},
                  ]
              )
          %>
        </div>
      </div>
    </div>
    <div class="form-card__footer">
      <%= f.button t("shared.continue"), class: "button button--primary" %>
    </div>
  <% end %>
<% end %>
