<% content_for(:template_name, "card") %>
<%= form_with url: mailing_address_steps_path, method: :put, local: true do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <div class="form-card__header spacing-below-35">
      <div class="emoji emoji--bigger spacing-below-25 emoji--mail"></div>
      <h2 class="form-card__title">Where should we mail your P-EBT card?</h2>
    </div>
    <div class="form-card__content">
      <div class="grid">
        <div class="grid__item">
          <p class="text--left">This card can only be mailed to an address in California.</p>
        </div>
      </div>
      <div class="grid">
        <div class="grid__item text--left">
          <%= f.cfa_input_field(:mailing_street, "What is the street address?") %>
          <%= f.cfa_input_field(:mailing_street_2, "What is the unit or apartment (optional)?") %>
          <%= f.cfa_input_field(:mailing_city, "What is the city?") %>
          <%= f.cfa_input_field(:mailing_zip_code, "What is the ZIP code?", classes: ['form-width--zip']) %>
        </div>
      </div>
      <div class="form-card__footer">
        <%= f.button "Continue", class: "button button--primary" %>
      </div>
    </div>
  <% end %>
<% end %>
