<% content_for(:template_name, "card") %>
<%= form_with url: mailing_address_steps_path, method: :put, local: true do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <div class="form-card__header spacing-below-35">
      <div class="emoji emoji--bigger spacing-below-25 emoji--mail"></div>
      <h2 class="form-card__title">
       <%= t("mailing_address.header") %>
      </h2>
    </div>
    <div class="form-card__content">
      <div class="grid">
        <div class="grid__item">
          <p class="text--left"><%= t("mailing_address.this_card_can") %></p>
        </div>
      </div>
      <div class="grid">
        <div class="grid__item text--left">
          <%= f.cfa_input_field(:mailing_street, t("shared.what_is_the_street")) %>
          <%= f.cfa_input_field(:mailing_street_2, t("shared.what_is_the_unit")) %>
          <%= f.cfa_input_field(:mailing_city, t("shared.what_is_the_city")) %>
          <%= f.cfa_input_field(:mailing_zip_code, t("shared.what_is_the_zip"), classes: ['form-width--zip']) %>
        </div>
      </div>
      <div class="form-card__footer">
        <%= f.button t("shared.continue"), class: "button button--primary" %>
      </div>
    </div>
  <% end %>
<% end %>
