<% content_for(:template_name, "card") %>
<% content_for(:no_back, "1") %>

<div class="form-card__header">
  <h1 class="form-card__title">
    <%= t("how.header_html") %>
  </h1>
</div>
<div class="form-card__content text--centered">
  <div class="grid grid--how spacing-below-35">
    <div class="grid__item width-one-fourth">
      <div class="emoji emoji--big spacing-below-25 emoji--page-facing-up"></div>
    </div>
    <div class="grid__item width-three-fourths">
      <p class="with-no-padding text--left"><%= t("how.give_us_your_basic_html") %></p>
      <p class="with-padding-small text--left"><%= t("how.we_will_ask") %></p>
    </div>
  </div>
  <div class="grid grid--how spacing-below-35">
    <div class="grid__item width-one-fourth">
      <div class="emoji emoji--big spacing-below-25 emoji--clipboard"></div>
    </div>
    <div class="grid__item width-three-fourths">
      <p class="with-no-padding text--left"><%= t("how.your_school_will_make_sure_html") %></p>
      <p class="with-padding-small text--left"><%= t("how.we_will_check") %></p>
    </div>
  </div>
  <div class="grid grid--how spacing-below-35">
    <div class="grid__item width-one-fourth">
      <div class="emoji emoji--big spacing-below-25 emoji--mail-open"></div>
    </div>
    <div class="grid__item width-three-fourths">
      <p class="with-no-padding text--left"><%= t("how.get_a_p_ebt_card_html") %></p>
      <p class="with-padding-small text--left"><%= t("how.if_approved") %></p>
    </div>
  </div>
</div>
<div class="form-card__footer">
  <%= link_to(t("shared.continue"), eligible_steps_path, class: "button button--primary") %>
</div>
