<% content_for(:template_name, "homepage") %>
<div class="demo-banner">
  <%= t('shared.delay') %>
</div>
<div class="hero--index">
  <header class="main-header">
    <div class="notice--error">
      <%= t('shared.delay') %>
    </div>
    <div class="toolbar toolbar--wrap-when-small">
      <div class="toolbar__left">
      </div>
      <% unless @is_early %>
        <div class="toolbar__right">
          <%= render 'pages/locale' %>
        </div>
      <% end %>
    </div>
  </header>
  <section class="slab slab--hero">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <h2 class="heading-60">
          <% if (ENV["COMING_SOON"] == "1") && !@is_early %>
            <em><%= t("index.coming_soon_html") %></em>
          <% end %>
          <%= t("index.header") %>
        </h2>
        <h1 class="text-25">
          <% if (ENV["COMING_SOON"] == "1") && !@is_early %>
            <%= t("index.apply_starting") %>
          <% else %>
            <%= t("index.apply_by") %>
          <% end %>
        </h1>
        <div class="buttons-group">
          <div class="grid">
            <div class="grid__item width-one-half">
              <%= render partial: 'apply_now', locals: { is_early: @is_early } %>
            </div>
            <div class="grid__item width-one-half">
              <a href="<%= info_path %>"><button class="button"><%= t("index.learn_more") %></button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item width-five-twelfths">
        <p class="form-card__body-text"><%= t("index.about") %></p>
      </div>
      <div class="grid__item shift-one-twelfth width-five-twelfths">
        <p class="form-card__body-text"><%= t("index.children_may") %></p>
      </div>
    </div>
  </section>
  <section class="slab slab--grey-light">
    <div class="grid">
      <div class="grid__item width-five-twelfths">
        <h3><%= t("index.questions_about") %></h3>
        <p class="form-card__body-text"><%= t("index.learn_more_about") %></p>
        <a href="<%= info_path %>"><button class="button spacing-below-35"><%= t("index.learn_more") %></button></a>
      </div>
      <div class="grid__item shift-one-twelfth width-five-twelfths">
        <h3><%= t("index.with_a_pebt_html") %></h3>
        <ul class="list--checkmark">
          <li><%= t("index.most_groceries") %></li>
          <li><%= t("index.most_farmers") %></li>
          <li><%= t("index.online") %></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="slab slab--white">
    <div class="grid">
      <div class="grid__item">
        <p class="form-card__body-text"><%= t("index.joint_program") %></p>
      </div>
    </div>
  </section>
</div>
