<% content_for(:template_name, "card") %>
<%= form_with url: parent_steps_path, method: :put, local: true do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <div class="form-card__header spacing-below-15">
      <div class="emoji emoji--bigger spacing-below-25 emoji--bust"></div>
      <h2 class="form-card__title">Add the name of one parent or guardian.</h2>
    </div>
    <div class="form-card__content">
      <div class="grid">
        <div class="grid__item spacing-below-60">
          <p class="text with-padding-small text--left">This person’s name will appear on the P-EBT card. </p>
        </div>
      </div>
      <div class="grid">
        <div class="grid__item text--left">
          <%= f.cfa_input_field(:parent_first_name, "First name") %>
          <%= f.cfa_input_field(:parent_last_name, "Last name") %>
        </div>
      </div>
      <div class="form-card__footer">
        <%= f.button "Continue", class: "button button--primary" %>
      </div>
  <% end %>
<% end %>