<% content_for(:template_name, "card") %>
<%= form_with url: residential_address_steps_path, method: :put, local: true do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <div class="form-card__header spacing-below-35">
      <div class="emoji emoji--bigger spacing-below-25 emoji--clipboard"></div>
      <h2 class="form-card__title">
        <%= t("residential_address.header") %>
      </h2>
    </div>
    <div class="form-card__content">
      <div class="grid">
        <div class="grid__item">
          <div class="notice--warning text--left">
            <%= t("residential_address.what_address_notice") %>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid__item text--left">
          <%= f.cfa_checkbox(:registered_homeless, "Student was homeless at time of registration",
                             options: {checked_value: :yes, unchecked_value: :unfilled})
          %>
          <%= f.cfa_input_field(:residential_street, t("shared.what_is_the_street")) %>
          <%= f.cfa_input_field(:residential_street_2, t("shared.what_is_the_unit")) %>
          <%= f.cfa_input_field(:residential_city, t("shared.what_is_the_city")) %>
          <%= f.cfa_input_field(:residential_zip_code, t("shared.what_is_the_zip"), classes: ['form-width--zip']) %>
          <%= f.cfa_radio_set(
                  :has_mailing_address,
                  label_text: t("residential_address.is_this_the_best"),
                  collection: [
                      {value: :no, label: t("residential_address.yes_send_mail")},
                      {value: :yes, label: t("residential_address.no_use_different")},
                  ]
              )
          %>
        </div>
      </div>
      <div class="form-card__footer">
        <%= f.button t("shared.continue"), class: "button button--primary" %>
      </div>
    </div>
  <% end %>
<% end %>

<script>
    const homelessnessCheckbox = $('#form_registered_homeless');
    const otherInputs = $('.form-group').not(homelessnessCheckbox.parent().parent());

    if (homelessnessCheckbox.parent().hasClass('is-selected')) {
      otherInputs.hide();
    }

    homelessnessCheckbox.click(function () {
        otherInputs.toggle()
        otherInputs.children('input').val('')
    })
</script>
