<% content_for(:template_name, "card") %>
<%= form_with url: residential_address_steps_path, method: :put, local: true do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <div class="form-card__header spacing-below-35">
      <div class="emoji emoji--bigger spacing-below-25 emoji--clipboard"></div>
      <h2 class="form-card__title">What address are you registered at the school with?</h2>
    </div>
    <div class="form-card__content">
      <div class="grid">
        <div class="grid__item">
          <div class="notice--warning text--left">It’s important to tell us the address your school has on file. You can
            give us a separate mailing address.
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid__item text--left">
          <%= f.cfa_input_field(:residential_street, "What is the street address?") %>
          <%= f.cfa_input_field(:residential_street_2, "What is the unit or apartment (optional)?") %>
          <%= f.cfa_input_field(:residential_city, "What is the city?") %>
          <%= f.cfa_input_field(:residential_zip_code, "What is the ZIP code?", classes: ['form-width--zip']) %>
          <%= f.cfa_radio_set(
                  :has_mailing_address,
                  label_text: "Is this the best place for you to get mail for the next two weeks?",
                  collection: [
                      {value: :no, label: "Yes, send mail there"},
                      {value: :yes, label: "No, use a different address for mail"},
                  ]
              )
          %>
        </div>
      </div>
      <div class="form-card__footer">
        <%= f.button "Continue", class: "button button--primary" %>
      </div>
    </div>
  <% end %>
<% end %>
