<% content_for(:template_name, "card") %>
<%= form_with url: residential_address_steps_path, method: :put, local: true do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <div class="form-card__header spacing-below-35">
      <div class="emoji emoji--bigger spacing-below-25 emoji--clipboard"></div>
      <h1 class="form-card__title">
        <%= t("residential_address.header", full_name: current_household.youngest_child.full_name) %>
      </h1>
    </div>
    <div class="form-card__content">
      <div class="grid">
        <div class="grid__item">
          <div class="notice--warning text--left">
            <%= t("residential_address.what_address_notice") %>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid__item text--left">
          <%= f.cfa_checkbox(:registered_homeless, t("residential_address.student_was_homeless"),
                             options: {checked_value: :yes, unchecked_value: :unfilled})
          %>
          <%= f.cfa_input_field(:residential_street, t("shared.what_is_the_street")) %>
          <%= f.cfa_input_field(:residential_street_2, t("shared.what_is_the_unit")) %>
          <%= f.cfa_input_field(:residential_city, t("shared.what_is_the_city")) %>
          <%= f.cfa_input_field(:residential_zip_code, t("shared.what_is_the_zip"), classes: ['form-width--zip']) %>
          <%= f.cfa_radio_set(
                  :has_mailing_address,
                  label_text: t("residential_address.is_this_the_best"),
                  collection: [
                      {value: :no, label: t("residential_address.yes_send_mail")},
                      {value: :yes, label: t("residential_address.no_use_different")},
                  ]
              )
          %>
        </div>
      </div>
      <div class="form-card__footer">
        <%= f.button t("shared.continue"), class: "button button--primary" %>
      </div>
    </div>
  <% end %>
<% end %>

<%= javascript_include_tag  "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_PLACES_API_KEY']}&libraries=places"%>
<%= javascript_include_tag 'addressAutocomplete' %>
<script>
    const homelessnessCheckbox = $('#form_registered_homeless');
    const noMailingAddress = $("#form_has_mailing_address_no");
    const mailingAddress = $("#form_has_mailing_address_yes");
    const otherInputs = $('.form-group').not(homelessnessCheckbox.parent().parent());

    const toggleBox = function () {
      if(homelessnessCheckbox.prop('checked')) {
        otherInputs.hide();
        mailingAddress.prop("checked", true);
      } else {
        otherInputs.show();
        noMailingAddress.prop("checked", false);
        mailingAddress.prop("checked", false);
      }
    };

    $(document).ready(function() {
      toggleBox();
      homelessnessCheckbox.change(toggleBox);
    });

    addressAutocomplete('residential');
</script>
