<% content_for(:template_name, "card") %>
<%= form_with url: contact_steps_path, method: :put, local: true do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <div class="form-card__header spacing-below-35">
      <div class="spacing-below-35">
        <%= image_tag('speech-balloon.svg') %>
      </div>
      <h2 class="form-card__title">How can we contact you?</h2>
    </div>
    <div class="form-card__content">
      <div class="grid">
        <div class="grid__item">
          <h3>What is your email address? (optional)</h3>
          <p class="form-card__body-text">We need your email address to get in touch with you if there are any problems with your application.</p>
          <%= f.cfa_input_field(:email_address, '') %>
        </div>
      </div>
      <div class="form-card__footer">
        <%= f.button "Continue", class: "button button--primary" %>
      </div>
    </div>
  <% end %>
<% end %>
