<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="lt-ie10"> <![endif]-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#ffffff">
  <%= render "layouts/favicon_links" %>

  <title>Apply for P-EBT (Pandemic EBT)</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= render 'analytics/google-analytics' if Rails.env.production? %>
  <%= javascript_include_tag 'application' %>
  <%= render 'analytics/mixpanel' %>

  <%= csrf_meta_tags %>
</head>

<body class="template--<%= content_for(:template_name) if content_for?(:template_name) %>">
<% if flash[:error].present? -%>
  <div class="grid">
    <div class="flash flash--error">
      <p class="flash__message">There has been a problem on our end.</p>
      <a href="#" class="flash__dismiss" aria-label="Dismiss"><span class="icon icon-close"></span></a>
    </div>
  </div>
<% end -%>
<div class="page-wrapper">
  <% if content_for(:template_name) == "card" %>
    <div class="slab padding-above-10 padding-below-25">
      <div class="grid">
        <div class="grid__item width-five-sixths shift-one-twelfth">
          <div class="toolbar toolbar--wrap-when-small">
              <div class="toolbar__left">
                <% unless content_for?(:no_back) %>
                <a class="button button--primary button--small" href="javascript:history.back()">
                  <i class="icon-arrow_back"></i> <%= t("shared.go_back") %>
                </a>
                <% end %>
              </div>
            <div class="toolbar__right>">
              <%= render 'pages/locale' %>
            </div>
          </div>
          <div class="form-card">
            <div class="form-card__content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% elsif content_for(:template_name) == "success" %>
    <div class="slab padding-above-10 padding-below-25 slab--success">
      <div class="grid">
        <div class="grid__item width-five-sixths shift-one-twelfth">
          <div class="form-card">
            <div class="form-card__content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  <% end %>
</div>
<footer class="main-footer">
  <div class="grid">
    <div class="grid__item width-one-half">
      <p class="text--small"><%= link_to t("footer.info"), info_path, class: "link--subtle", target: "_blank" %></p>
      <p class="text--small"><%= t("footer.delivered_by_html") %></p>
    </div>

    <div class="grid__item shift-one-sixth width-one-fourth">
      <div class="main-footer__cfa-logo">
        <a href="https://www.codeforamerica.org" target="_blank" class="illustration illustration--cfa-logo__dark">Code for America</a>
      </div>
    </div>
  </div>
  </div>
</footer>
</body>
</html>
