<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>    <html class="lt-ie10"> <![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
  </head>

  <body class="template--<%= content_for(:template_name) if content_for?(:template_name) %>">
    <div class="page-wrapper">
      <% if content_for(:template_name) == "card" %>
        <div class="slab">
          <div class="grid">
            <div class="grid__item width-five-sixths shift-one-twelfth">
              <div class="form-card">
                <div class="form-card__content">
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% else  %>
        <%= content_for?(:content) ? yield(:content) : yield %>
      <% end %>
    </div>
    <footer class="main-footer">
      <div class="grid">
        <div class="grid__item">
          <p class="text--small">ca.p-ebt.org is a service delivered by <a class="link--subtle" href="https://www.codeforamerica.org">Code for America</a> on behalf of the people of California.</p>
        </div>
      </div>
      <% if controller.controller_name == "pages" && controller.action_name == "index" %>
        <div class="grid">
          <div class="grid__item width-one-fourth">
            <div class="main-footer__cfa-logo">
              <a href="https://www.codeforamerica.org" class="illustration illustration--cfa-logo__dark">Code for America</a>
            </div>
          </div>
        </div>
      <% end %>
    </footer>
  </body>
</html>
